* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/*Inicio nav*/
.nav {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    margin-right: 24px;
    padding: 10px;
    color: #ddd;
    transition: 0.9s;
}

.nav-list a:hover{
 color: #858383;
 font-size: 20px;
}
/*fim nav*/

/*Inicio main*/
.main {
    width: 100%;
    background-color: black;
    height: calc(100vh - 80px);
    background-image: url("/Images/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1 {
    color: #FFFFFF;
    font-size: 24px;
}

.main p {
    font-size: 14px;
    font-style: italic;
    color: blue;
    margin-top: 10px;
    margin-bottom: 35px;
}

.call-to-action {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 0;
    padding: 14px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}

.call-to-action:hover {
    transform: scale(1.1);
}

.main a{
    text-decoration: none;
    color: #181818;
}
/*Fim main*/

/*Inicio about*/

.about {
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div {
    max-width: 50%;
    padding-right: 40px;
}

.about img {
    max-width: 500px;
    border-radius: 50%;
    transition: 0.9s;
}

.about h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

/*Fim about*/

/*Inicio Projects*/

.projects {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.projects h2 {
    font-size: 24px;
    margin-top: 30%;
    margin-bottom: 20px;
}

.projects p {
    margin-bottom: 40px;
    font-style: italic;
}

.project-list {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.projects img {
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.6;
    transition: 0.9s;
}

.projects img:hover{
    opacity: 1;
    width: 25%;
}

/*Fim Projects*/

/*Inicio Contatos*/

.contats {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
}

.contats h1 {
    font-style: italic;
}

.incos-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contats div {
    display: flex;
    padding: 20px;
}

.contats div div {
    background-color: #181818;
    margin: 20px;
    border-radius: 30px;
    width: 70vh;
    transition: 1s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contats div div:hover {
    transform: scale(1.1);
}

.contats h3 {
    color: #FFFFFF;
}

.contats img {
    width: 80px;
    border-radius: 20px;
}


/*Fim Contatos*/

/*inicio Footer*/

footer {
    width: 100%;
    background-color: #181818;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer p {
    margin-left: 10px;
    font-style: italic;
}
/*Fim Footer*/

/*inicio Side-bar*/

.side-bar {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(104, 107, 110, 0.541);
    backdrop-filter: blur(10px);
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side-bar li {
    width: 100%;
    padding: 10px;
}

.side-bar li:hover {
    background: #969191;
}

.side-bar a {
    color: #FFFFFF;
}

.side-bar a:hover {
    color: #181818;
}

.side-bar a {
    width: 100%;
}

.menu-bar {
    display: none;
}


/*fim Side-bar*/

/*Inicio Reposividade*/

@media (max-width: 1050px){

    /*Inicio main*/

    .main h1 {
        font-size: 30px
    }

    .main p {
        font-size: 15px;
    }

    .main {
        background-size: cover;
        padding-left: 0;
        padding: 10%;
    }

    .call-to-action {
        font-size: 17px;
    }

    /*Fim main*/

    /*Inicio Sobre*/

    .about {
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .about div {
        max-width: 80%;
        margin-top: 30px;

    }

    .about div h2{
        font-size: 45px;
    }

    .about img {
        margin-top: 30px;
        max-width: 80%;
    }

    /*Fim Sobre*/

    /*Inicio Projetos*/


    .projects img {
        width: 27.5%;
    }

    .projects h3 {
        margin-top: 0;
        padding: 5%;
        text-align: center;
    }

    /*Fim Projetos*/

    /*Inicio Contatos*/

    .contats {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 50vh;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }

    .contats div div {
        width: 100%;
        margin: 20px;
    }

    .contats div {
        padding: 10px;
    }
    
    .contats img {
        width: 60px;
        border-radius: 20px;
    }

    .contats h3 {
        font-size: 10px;
    }
    
    .contats h1 {
        margin-bottom: 20px;
    }

    /*Fim Contatos*/

    /*Início Footer*/
    footer {
        flex-direction: column;
    }

    footer h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    footer p {
        margin: 0;
    }
    /*Fim Footer*/
    
    /* inicio side bar*/

    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        justify-content: end;
        margin-right: 20px;
    }

    .menu-bar {
        display: block;
    }

    .close-btn {
        width: 20px;
    }


    /* fim side bar */

    


}

/*Fim Reposividade*/

